<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
    </head>
    <body>
        <button class='decrement'>-</button>
        <h1></h1>
        <button class='increment'>+</button>
    </body>
</html>
